:root{
   --primary-color: hsl(193, 38%, 86%);
   --secondary-color: hsl(150, 100%, 66%);
   --GrayishBlue: hsl(217, 19%, 38%);
   --DarkGrayishBlue: hsl(217, 19%, 24%);
   --DarkBlue: hsl(218, 23%, 16%); 
   background-color: var(--DarkBlue);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
}
.advicegenerator{
    padding-top: 50px;
    background-color: var(--DarkGrayishBlue);
    border-radius: 10px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 500px;
    min-height: 350px;
}
.divider{
    position:relative;
    margin-top: 50px;
    margin-bottom: 50px;
    align-self: center;
  margin-top: auto;
}
.advicequote{
    font-size: 28px;
    color:var(--primary-color);
    margin-top: 50px;
}
.adviceid{
    color: var(--secondary-color);
}
.dice{
    color: var(--DarkBlue);
    width: 20px;
    height: 20px;

}
.dicebox{
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    justify-items: center;
    border-radius: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
}
.dicebox:hover{
        cursor: pointer;
        box-shadow: 0 0px 40px 0 hsl(150, 100%, 66%);
}

.credits{
    color: var(--primary-color);
    text-align: center;
    margin-top: 30px;
}
.credits a{
    text-decoration: none;
    color: var(--secondary-color);
}

@media (max-width: 768px) {
    .advicegenerator{
        width: 375px;
    }
    .divider{
    
        transform: scaleX(0.8);
    }   
}